{% extends 'base/head.html' %}

{% block head %}

<title>Forgot Password</title>

{% endblock %}

{% block body %}

<main>
    <div class="box">
      <div class="inner-box">
        <div class="forms-wrap">

          <form action="{{ url_for('auth.forgot_password') }}" method="post" autocomplete="off" class="sign-in-form">
            <div class="logo">
              <img src="{{ url_for('static', filename='img/logo.png') }}" alt="easyclass" />
              <h4>smartpatry</h4>
            </div>

            <div class="heading">
              <h2>Forgot Password</h2> 
              <h5>Enter the email address you used to register, and if the email is in our record, we will send you a secure link to reset your password. </h5>


              {% if not session %}
              <p><br>{{ message }}</p>
              {% endif %}
            </div>

            <div class="actual-form">
              <input type="hidden" name="form_type" value="login">
              <div class="input-wrap">
                <input
                  type="email"
                  id="forgot_password_email"
                  name="forgot_password_email"
                  class="input-field"
                  autocomplete="off"
                  required
                />
                <label>Email</label>
              </div>

              <input type="submit" value="Send reset email" class="sign-btn" />
            </div>
          </form>

        </div>

        <div class="carousel">
          <div class="images-wrapper">
            <img src="{{ url_for('static', filename='img/image4.png') }}" class="image img-1 show" alt="" />

          <div class="text-slider">
            <div class="text-wrap">
              <div class="text-group">
                <h2>  --  </h2>
              </div>
            </div>

            <div class="bullets">
              <span class="active" data-value="1"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% if user and message %}
  <script>
      window.onload = function() {
          location.hash = '#signup';
      }
  </script>
  {% endif %}
{% endblock %}
```