<div class="left">
    <div class="sidebar">
      <a class="menu-item" href="{{ url_for('index') }}" id="home">
        <span><i class="uil uil-home"></i></span>
        <h3>Home</h3>
      </a>
      <a class="menu-item" id="discover">
        <span><i class="uil uil-compass"></i></span>
        <h3>Discover Shared Food</h3>
      </a>
      <a class="menu-item active" href="{{ url_for('yourSharedFood.index') }}" id="listing">
        <span><i class="uil uil-compass"></i></span>
        <h3>Your Shared Food</h3>
      </a>
      <a class="menu-item" id="analytics">
        <span><i class="uil uil-compass"></i></span>
        <h3>Analytics</h3>
      </a>
      <a class="menu-item" id="notifications">
        <span
          ><i class="uil uil-bell"
            ><small class="notification-count">9+</small></i
          ></span
        >
        <h3>Notifications</h3>
        <div class="notifications-popup">
          <div>
            <div class="profile-pic">
              <img src="" />
            </div>
            <div class="notification-body">
              <b>Food Expiry</b>Fish expires soon
              <small class="text-muted">2 DAYS AGO</small>
            </div>
          </div>
          <div>
            <div class="profile-pic">
              <img src="" />
            </div>
            <div class="notification-body">
              <b>Shared Food</b> Claim made on shared food
              <small class="text-muted">1 HOUR AGO</small>
            </div>
          </div>
          <div>
            <div class="profile-pic">
              <img src="" />
            </div>
            <div class="notification-body">
              <b>Food Expiry</b> Egg exipring soon
              <small class="text-muted">4 MINUTES AGO</small>
            </div>
          </div>
        </div>
      </a>

  </div>
  </div>
